# Ignore all .csv files
*.csv

# Ignore all .bin files
*.bin
*.gz

#all txt files
*.txt

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
desktop.ini

# Ignore virtual environment folders
venv/
.env/

# Ignore log files
*.log

# Ignore any IDE-specific files
.vscode/
.idea/
